<!-- projects/templates/projects/project_detail.html -->

{% extends "base.html" %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        {% if project.image %}
        <div class="square-image" style="background-image: url('{{ project.image.url }}');"></div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
    </div>
</div>
<style>
    .square-image {
        width: 100%; /* Adjust width to your preference */
        height: 15%;
        padding-top: 75%; /* This creates a square aspect ratio */
        background-size: cover;
        background-position: center;
    }
</style>
{% endblock%}