<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <title>{% block title %}{% endblock %}</title>
            {% load bootstrap5 %}
            {% bootstrap_css %}
            {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            <ul class="nav bg-info">
              <li class="nav-item">
                <a class="nav-link link-light" href="/">HOME</a>
              </li>              
              <li class="nav-item">
                <a class="nav-link link-light" href="/members/groups">GROUPS</a>
            </li> 
              <li class="nav-item">
                <a class="nav-link link-light" href="/members/military">MEMBERS</a>
              </li>               
              <li class="nav-item">
                <a class="nav-link link-light" href="/members/person">USERS</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/projects">PROJECTS</a>
                </li>
            </ul>
            {% block page_content %}
            {% endblock%}
    </body>
</html>